In [1]:
print('Day 2 _ Nov 6 Class')

Day 2 _ Nov 6 Class

In [8]:
# Example of Employee pay roll

Emp1 ='John Paul'
Emp2='Cheery May'
Emp3='Deena Dust'

print (Emp1)

John Paul

In [9]:
print (Emp2.title())

Mike Tucker

In [10]:
print (Emp3.upper())

LEE BI

In [ ]:
# Question: I see a difference of Emp2 , Emp3 names in definition and print. From where is it taking the new values and why?

In [11]:
# Concept of f strings:

All_Emp = f"{Emp1} {Emp2} {Emp3}"

In [12]:
print(All_Emp)

John Paul Mike Tucker Lee Bi

In [ ]:
All_Emp = f"{Emp1}, {Emp2}, {Emp3}"

In [13]:
print(All_Emp)

John Paul Mike Tucker Lee Bi

In [ ]:
# Question: Why is not throwing error when , is used in the f string syntax ?

In [14]:
print(' Emp1 ')

 Emp1

In [15]:
print('Employees: \nEmp1 \nEmp2 \nEmp3')

Employees:
Emp1
Emp2
Emp3

In [17]:
print('Employees: \nEmp1 \tEmp2 \tEmp3')

Employees:
Emp1 	Emp2 	Emp3

In [19]:
Emp1 ='John Paul'
Emp2='Cheery May'
Emp3='Deena Dust'
print('Employees: \n'Emp1' \n'Emp2' \n'Emp3'')

SyntaxError: invalid syntax (<ipython-input-19-c6745304e05e>, line 4)

In [ ]:
#Question: How do I print the names of Emp1,2,3 all together in one statement ?

In [23]:
Emp1 ='John Paul'
Emp2='Cheery May'
Emp3='Deena Dust'

Emp1.rstrip()

Emp2.lstrip()

Emp3.strip

In [ ]:
# Question: What is the above error mean ?