In [ ]:
#Py_Day4_B6

In [7]:
Employee =['Emp1','Emp2','Emp3','Emp4','Emp5']

print (Employee)

['Emp1', 'Emp2', 'Emp3', 'Emp4', 'Emp5']

In [2]:
type (Employee)

list

In [4]:
# Index positions in reverse order mean printing the Emp last one as first and so on. Check the below

print(Employee[-5].title())   
print(Employee[-4].title()) 
print(Employee[-3].title()) 
print(Employee[-2].title()) 
print(Employee[-1].title())

Emp1
Emp2
Emp3
Emp4
Emp5

In [11]:
# Updating, removing and adding of elements in the list

EmpSal = ('1000','2000','3000','4000','5000')

print (EmpSal [0])
print (EmpSal [1])
print (EmpSal [2])
print (EmpSal [3])
print (EmpSal [4])

1000
2000
3000
4000
5000

In [21]:
print (EmpSal[0])

1000

In [24]:
EmpSal[0]= ['e1']
print (EmpSal)

# Question: What is this tuple syntax ???

TypeError: 'tuple' object does not support item assignment

In [39]:
Emp =['emp1','emp2','emp3']
print (Emp)
Emp.append('emp4')                # append will always add the element to the last
print (Emp)
Emp.insert(4,'fourth emp')        # insert can add element at the given index position
print (Emp)
Emp.insert(0,'first emp')
print (Emp)
Emp.insert(5,'please delete me')
print (Emp)
del Emp[5]                       # del will remove the element with the given index position
print (Emp)
Emp.pop()                        # pop() will remove the last element by default
print (Emp)

['emp1', 'emp2', 'emp3']
['emp1', 'emp2', 'emp3', 'emp4']
['emp1', 'emp2', 'emp3', 'emp4', 'fourth emp']
['first emp', 'emp1', 'emp2', 'emp3', 'emp4', 'fourth emp']
['first emp', 'emp1', 'emp2', 'emp3', 'emp4', 'please delete me', 'fourth emp']
['first emp', 'emp1', 'emp2', 'emp3', 'emp4', 'fourth emp']
['first emp', 'emp1', 'emp2', 'emp3', 'emp4']

In [40]:
# Concept of slicing the elements in the list

team = ['CSK','RR','SRH','KKR']
print(team[0:2])                # 0:2 mean - starting with 0 index till 2, mean before 2nd index

['CSK', 'RR']

In [41]:
team = ['CSK','RR','SRH','KKR']
print(team[0:4])                # 0:4 mean - starting with 0 index till 4, mean all elements, only 3 are there

['CSK', 'RR', 'SRH', 'KKR']

In [42]:
team = ['CSK','RR','SRH','KKR']
print(team[0:4:2])             # Step count :2 mean, skip 2

['CSK', 'SRH']

In [43]:
team = ['CSK','RR','SRH','KKR']
print(team[0:4:1])             # Step count :2 mean, skip 1

['CSK', 'RR', 'SRH', 'KKR']

In [44]:
team = ['CSK','RR','SRH','KKR']
print(team[0:4:3])             # Step count :2 mean, skip 3

['CSK', 'KKR']